@model AqaratProject.Models.HomePageModel
@inject Microsoft.AspNetCore.Identity.UserManager<BL.ApplicationUser> userManager
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>عرض  المستخدمين النشطين الان </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"> المستخدمين النشطين الان</a></li>
                    <li class="breadcrumb-item active">  عرض   المستخدمين النشطين الان</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
           
          


         




      
            <div class="card">
                <div class="card-header">
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>  اسم الشخص النشط الان  </th>
                                <th>  تاريخ تسجيل الدخول</th>
                                <th>  ايميل الشخص النشط الان  </th>
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                           @* @foreach (var item in Model.lstLogHistories)
                            {

                                <tr>
                                    <td>@userManager.Users.Where(a=> a.Id == item.LoggedUserId.ToString()).FirstOrDefault().FirstName</td>
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                   

                                
                                  
                                   
                                </tr>

                            }*@


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>  اسم الشخص النشط الان  </th>
                                <th>  تاريخ تسجيل الدخول</th>
                                <th>  ايميل الشخص النشط الان  </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/js/ActiveUsers.js"></script>