@using Microsoft.AspNetCore.Identity

@inject SignInManager<BL.ApplicationUser> SignInManager
@inject UserManager<BL.ApplicationUser> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                <input name="id" type="hidden" value="@UserManager.GetUserId(User)" />
                <button type="submit" class="btn nav-link">تسجيل الخروج</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">سجل كمستخدم جديد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">سجل الدخول</a>
        </li>
       
    }
</ul>